<ng-container *ngIf="!isLoading else loadingData">
  <mat-grid-list cols="3" rowHeight="333px">
    <div *ngFor="let item of listOfUsers?.data;let i=index">
      <mat-grid-tile>
        <div class="df fxdc aic cur-p" (click)="navigateTo('info/'+item.id)">
          <div class="bold-600 pb-12">{{item.first_name}} {{item.last_name}}</div>
          <div class="pb-6"><img [src]="item.avatar"></div>
          <div class="df fxdc aic w100p">
            <div class="mb-8">{{item.email}}</div>
            <div class="w100p">
              <button class="w100p" mat-flat-button color="warn" (click)="deleteUser(i)">Delete</button>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</ng-container>

<mat-paginator [length]="listOfUsers?.total"
               [pageSize]="6"
               aria-label="Select page"
               (page)="currentPage=$event.pageIndex+1; getUserInfo()">
</mat-paginator>


<ng-template #loadingData>
  <div class="df jcc pt-8 aic h100p w100p">
    <mat-spinner diameter="100"></mat-spinner>
  </div>
</ng-template>
